# Docker
docker/nginx/config/nginx.conf
docker/nginx/log/
docker/postgresql/data/
docker/postgresql/pgadmin/

# Migration
migration/alembic.ini

# Python and environment
__pycache__
.venv/
*.env
